.featured-item-main {
    max-width: 600px;
    margin-right: 2.5em;

    .item-title {
        color: #000;
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .item-image {
        width: 100%;
    }

    .item-description {
        font-weight: 400;
        font-size: 1.125em;
        color: #424242;
    }

    @media screen and (max-width: $breakpoint-large) {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
}

.featured-items-group {
    max-width: 16.25em;

    .featured-item {
        display: block;

        &:not(:last-child) {
            margin-bottom: 1.8888888888888888em;
        }
    }

    .item-image {
        width: 100%;
        object-fit: cover;
        margin-bottom: 0.625em;
    }

    .item-title {
        font-weight: 500;
        font-size: 1.125em;
        color: #000;
    }

    @media screen and (max-width: $breakpoint-large) {
        max-width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 2em;

        .featured-item {
            flex-basis: calc((100% / 3) - 1em);
        }
    }
}

