.posts-recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .post {
        flex-basis: calc((100% / 3) - 1.6666666666666667em);
        margin-bottom: 2.25em;
    }

    .post-image {
        width: 100%;
        padding-bottom: 0.9375em;
    }

    .post-title {
        font-weight: 500;
        font-size: 1.125em;
        color: #000;
    }

    @media screen and (max-width: $breakpoint-medium) {
        .post {
            flex-basis: calc((100% / 2) - 1.5em);
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .post {
            flex-basis: 100%;
        }
    }
}