.search-bar {
        background: #EEEEEE;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8906 13.9297C14.0547 14.0755 14.0547 14.2305 13.8906 14.3945L13.6445 14.6406C13.4805 14.8047 13.3255 14.8047 13.1797 14.6406L9.65234 11.1406C9.57943 11.0677 9.54297 10.9857 9.54297 10.8945V10.6211C8.44922 11.6237 7.16406 12.125 5.6875 12.125C4.11979 12.125 2.77995 11.569 1.66797 10.457C0.55599 9.34505 0 8.00521 0 6.4375C0 4.86979 0.55599 3.52995 1.66797 2.41797C2.77995 1.30599 4.11979 0.75 5.6875 0.75C7.25521 0.75 8.59505 1.30599 9.70703 2.41797C10.819 3.52995 11.375 4.86979 11.375 6.4375C11.375 7.91406 10.8737 9.19922 9.87109 10.293H10.1445C10.2357 10.293 10.3177 10.3294 10.3906 10.4023L13.8906 13.9297ZM2.26953 9.85547C3.21745 10.7852 4.35677 11.25 5.6875 11.25C7.01823 11.25 8.14844 10.7852 9.07812 9.85547C10.026 8.90755 10.5 7.76823 10.5 6.4375C10.5 5.10677 10.026 3.97656 9.07812 3.04688C8.14844 2.09896 7.01823 1.625 5.6875 1.625C4.35677 1.625 3.21745 2.09896 2.26953 3.04688C1.33984 3.97656 0.875 5.10677 0.875 6.4375C0.875 7.76823 1.33984 8.90755 2.26953 9.85547Z' fill='%23818181'/%3E%3C/svg%3E%0A");        background-repeat: no-repeat;
        background-position: 0.75em center;
        color: #818181;
        border: none;
        outline: none;
        border-radius: 0.375em;
        padding: 0.5em 1em 0.5em 2.5em;

        &::placeholder {
            color: #818181;
        }
}