.footer {
    padding-top: 6.25em;
    padding-bottom: 3.125em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright-notice {
        color: #8B8B8B;
    }
}