.section-starter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.0625em;

    @media screen and (max-width: $breakpoint-large) {
        flex-wrap: wrap;
        padding-bottom: 2em;
    }
}